/*  
Theme Name: Resolute Theme
Description: Responsive WordPress theme
Theme URI: http://wpbox.net
Author: Vergo
Author URI: http://wpbox.net
Version: 1.0
Tags: dark, light, white, black, gray, two-columns, right-sidebar, responsive-layout, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, full-width-template, microformats, post-formats, sticky-post, theme-options, translation-ready
License: GNU/GPL Version 2 or later. 
License URI: http://www.gnu.org/licenses/gpl.html 
Copyright: (c) 2014 Vergo.
 
*/

/* CSS Resets */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,q,small,strong,sub,sup,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;margin:0;padding:0}article,aside,figure,figure img,figcaption,hgroup,footer,header,nav,section,video,object{display:block}a img{border:0}figure{position:relative}figure img{width:100%}


/*default*/ 

body{
font:12px normal Arial, Helvetica, sans-serif;
 }

.wrapper{ width:100%; overflow:hidden;}

.clearfix:after { content: "\00A0"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
 
.clearfix{ display: inline-block;}  

html[xmlns] .clearfix { display: block;}  

* html .clearfix{ height: 1%;}  

.clearfix {display: block}  



a{ color:#000;}

ol, ul {
	list-style:none; margin:0 0 20px 0;
}

ul.children{ margin:0 0 0 20px;}
ul.children li{ list-style:disc;}

strong{ font-weight:bold;}

a,a:hover{
	text-decoration:none; 
}

a,.nav li a{
	-moz-transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in; 
	transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
}

small{
	line-height:11pt;
}


/* @vergo classes
********************************************************************************************
********************************************************************************************/

.small{
	font-size:85% !important;
}

.hrline,.hrlineB,.hrlineS{
	width: 100% !important;
	overflow:hidden;
	padding:0;
	height:2px;
	background: url(images/line-h.png) 0 0 repeat-x;
}

.hrlineB{
	margin-bottom:40px !important;
}

.hrline span,.hrlineB span{
	width:30px;
	background:#999;
	height:1px;
	position: absolute;
	top:0;
	left:0;
}

.tranz{-webkit-transition: all .5s ease; -moz-transition: all .5s ease; transition: all .5s ease; }

.cntr{ text-align:center !important; float:none !important;}

.large{ font-size:16px !important;}

.trans,.services li i,.services li img{-webkit-transition: all .5s ease; -moz-transition: all .5s ease; transition: all .5s ease; }

.rad,a#triggernav,a#triggernav-sec{
	-moz-border-radius: 3px;-khtml-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;
}

.boxshadow,#infscr-loading{
	-moz-box-shadow:  0 0 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow:  0 0 2px rgba(0, 0, 0, 0.3);
	box-shadow:  0 0 2px rgba(0, 0, 0, 0.3);
}


.boxshadow_alt{
	-moz-box-shadow:  0 0 2px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow:  0 0 2px rgba(0, 0, 0, 0.15);
	box-shadow:  0 0 2px rgba(0, 0, 0, 0.15);}


.shadow-inset{
	-moz-box-shadow:  0px 0px 45px rgba(0, 0, 0, 1) inset;
	-webkit-box-shadow:  0px 0px 45px rgba(0, 0, 0, 1) inset;
	box-shadow: 0px 0px 45px rgba(0, 0, 0, 1) inset;
}

.breadcrumb{
	margin:5px 0 10px 0;font-size:12px; text-transform:uppercase;
}

.thumbfix{ padding-top:25px !important;}

.bottom-fix{
	margin-bottom:10px;
}

.slant{
	font-size:85%;font-weight:normal; font-style:italic;
}

.lower{ 
	text-transform: lowercase !important;
}

.italic{
	font-style:italic !important;
}

.fat{
	font-weight:bold !important;
}

.gradient{
    background-image: -moz-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.1));
    background-image: -webkit-linear-gradient-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.1)));
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.1));
    background-image: -ms-linear-gradient(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.1));
    background-image: no-repeat;
}


/* @titles
********************************************************************************************
********************************************************************************************/

h1{
	margin:10px 0 20px 0;
	padding:0;
	letter-spacing:-0.04em !important;
	-webkit-text-stroke: 0.2px;
}

h1.itemtitle{
	margin:0 0;
	padding:0 0 30px 0;
}

h1.pagetitle{
	margin:0 0;
	padding:30px 0 20px 0;
}
	
h2{
	margin:30px 0 12px 0;
	padding:0;
	letter-spacing:-0.04em !important;
	-webkit-text-stroke: 0.2px;
}
	
h2.post{
	margin:0 0;
	padding:10px 0 15px 0;
	/*text-align:center;*/
	position:relative;
	z-index:1;
}

h2.leading{ margin:0 0 30px 0;}

h2.leading span{
	font-size:16px;
	letter-spacing:0;
	border-top:1px solid #ddd;
	padding-top:7px;
	margin-top:10px;
	display:block;
}

h2.widget{
	margin:0 0;
	padding:0 0 13px 0;
	line-height:1 !important;
	display:block;
	letter-spacing:-0.04em !important;
	position:relative;
	z-index:1;
}


.aq_row>.aq_span12 .inn{padding: 0 7.7%;width: 84.4% !important;}

.widgetwrap h2.widget span,
.flexwrap h2.widget span,
.aq-block-aq_slider_block h2.widget span{ letter-spacing:-0.025em; text-transform:none !important; line-height:1; float:right; margin:3px; font-size:13px;/* font-style:italic;*/ }

.flexwrap h2.widget,
.journal h2.widget{ padding:0 0 0 0;}

.line{ overflow:hidden; padding:0; margin:0 0 20px 0; width:100%; height:6px; position:relative; z-index:1; float:none; display:block;}

#footer .line{ display:none;}

.line>span{ height:4px; margin:0 0; display:block; float:left;width:100%; border:1px solid #ddd; position:relative; z-index:1}
	
.line>span>span{ height:6px; margin:-1px 0 0 -1px; display:block; float:left;width:110px; position:relative; z-index:2} 

.flexwrap>.line,
.journal>.line{margin:13px 0 -1px 0 !important;}

	
h3{
	margin:10px 0;
	padding:0 0 0 1px;
	letter-spacing:-0.008em;
	-webkit-text-stroke: 0.2px;
}	
	
h4{
	margin:12px 0;
	padding:0;
}		

h4.leading{
	margin:-5px 0 30px 0;
}

.entry h4{ font-size:130% !important;}

	
h5{
	margin:8px 0;
	padding:0;
	font-size:120% !important;
}
	
h6{
	margin:8px 0;
	padding:0;
	font-size:100% !important;
}


/* @header
********************************************************************************************
********************************************************************************************/

#topnav{
	width:100%;
	float:left;
	z-index:99;
	margin:0 0 0 0;
	padding:0 0;
}

#topnav h1{ margin:0px 10px 0px 40px ; float:left; text-transform:uppercase;}

.container_v #topnav.fixmenu,
.generalresp #topnav.fixmenu{ max-width:1300px !important;}

.headad{ text-align:center; display:block; margin:20px 0 -20px 0;}

.headad img,
.headad ins{ text-align:center; max-width:100%; display:block; margin:0 auto; float:none;}


/* @navigations
********************************************************************************************
********************************************************************************************/


.nav {
	position:relative;
	padding: 0;
	margin:6px 20px;
	list-style: none;
	line-height: 1;
	display:block;
	z-index:999;
	float:right;
}

.nav a {
	position: relative;
	display: block;
	z-index: 1;
	padding: 12px 0;
	text-decoration: none;
}

.nav>li>a{
	display: block;
	padding: 12px 15px;
	margin-right:5px;
	text-decoration: none;
	line-height:1;
	border-bottom:none;
	letter-spacing:-0.02em !important;
	-moz-border-radius: 2px;-khtml-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;
	-webkit-text-stroke: 0.2px;
}

#main-nav>li>a{padding: 23px 10px;}

.nav>li>a>i{
	margin-right:5px !important;
}

.nav li a span.walker{ display: none; padding-top:6px; letter-spacing:0 !important; font-size:11px !important; color:#999 !important;}

.nav>li>a>span.walker{ display:block; text-transform: none; opacity:.6}

.nav>li:first-child>a{}

.nav>li>a:hover,
.nav>li.sfHover>a,
.nav>li.current-menu-item>a{
	/*border-bottom:2px solid #E8D116;
	padding: 15px 12px 8px 15px;*/
}

.nav li {
	display:inline;
	position: relative;
	float:left;
	overflow: hidden;
}

.nav>li {
	margin:0;
}

.nav li ul {
	margin:0 0 0 0;
	padding:0 0 0 0;
	width:200px;
	position: absolute;
	z-index: 9;
}

.nav li ul .sf-sub-indicator {
	background: url(images/arrow-superfish-right.png) no-repeat;
	top: 54%;
}
.nav li ul li a {
	margin:0 20px;
	padding:15px 0;
	border-bottom:1px solid #eee;
	line-height:1;
	font-weight:normal !important;
	opacity:.9;
	text-align:left;
	font-size:12px;
}

.nav li ul li a i{
	margin-right:8px !important;
}

.nav li ul li:last-child a{border-bottom:none;}

.nav>li>ul{
	border:1px solid #ddd;
	z-index:999;
	position:relative;
	margin:0 0 0 0;
	-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;
	}

.nav>li>ul:after {
    border-color: #FFFFFF transparent;
    border-style: solid;
    border-width: 0 6px 6px;
    bottom: 100%;
    content: "";
    height: 0;
    position: absolute;
    left: 15px;
    width: 0;
}

.nav>li>ul>li,
.nav li ul ul li{width:100%;}

.nav li ul li:first-child a {
	background:none;
} 

.nav li ul li a:hover {
	opacity:.6;
}

.nav li ul li.current_page_item a,
.nav li ul li.current_page_parent a,
.nav li ul li.current-menu-ancestor a,
.nav li ul li.current-cat a,
.nav li ul li.li.current-menu-item a,
.nav li ul li.sfHover a {
}

.current_page_ancestor ul li a{
}
.nav li ul ul{
	margin: -44px 0 0 200px;
	border:1px solid #ddd;
	-moz-border-radius:0 5px 5px 5px;-khtml-border-radius:0 5px 5px 5px;-webkit-border-radius:0 5px 5px 5px;border-radius:0 5px 5px 5px;
}


.nav li.menu-item-has-children>a,
.nav li.page_item_has_children>a{
  	padding-right: 20px !important;
	background: url(images/arrow-superfish.png) 96% 50% no-repeat;
}

.nav li ul li a.sf-with-ul {
	background: url(images/arrow-superfish-right.png) 100% 15px no-repeat;
	padding-right: 0;
}

.nav li.current_page_item a,
.nav li.current_page_parent a,
.nav li.current-menu-ancestor a,
.nav li.current-cat a,
.nav li.li.current-menu-item a,
.nav li.sfHover a {
}


.nav .sf-sub-indicator {
	text-indent: -999em;
	display:none
}

.nav li ul {
	position: absolute;
	left: -999em;
}

.nav li:hover, .nav li.hover {
  	position: static;
}

.nav li:hover ul ul,
.nav li.sfhover ul ul,
.nav li:hover ul ul ul,
.nav li.sfhover ul ul ul,
.nav li:hover ul ul ul ul,
.nav li.sfhover ul ul ul ul {
  	left: -999em;
}

.nav li:hover ul,
.nav li.sfhover ul,
.nav li li:hover ul,
.nav li li.sfhover ul,
.nav li li li:hover ul,
.nav li li li.sfhover ul,
.nav li li li li:hover ul,
.nav li li li li.sfhover ul {
  	left: auto;
}

.nav li ul {
}

.nav li ul li a {
}

.nav li ul li a:hover {
}

.hidenav{ display:none !important;}

.shownav{ display: inline-block !important;}

/* @mobile menu 
********************************************************************************************
********************************************************************************************/

a#triggernav{
text-indent:-9999px;
padding:8px;
height:30px;
width:30px;
background-image: url(images/icons/trigg.png);
background-position:50% 50%;
background-repeat:no-repeat;
margin:5px auto 20px auto;
display:none;
float:none;
clear:both;
}

a#triggernav:hover{
background-image: url(images/icons/trigg.png);
}

a#triggernav.active{
background-image: url(images/icons/trigg-up.png);
}


a#triggernav-sec{
text-indent:-9999px;
padding:3px;
height:20px;
width:20px;
background-image: url(images/icons/trigg.png);
background-position:50% 50%;
background-repeat:no-repeat;
margin:13px 10px 6px 10px;
display:none;
float:left;
}

a#triggernav-sec:hover{
background-image: url(images/icons/trigg.png);
}

a#triggernav-sec.active{
background-image: url(images/icons/trigg-up.png);
}

.showtrig{ display: block !important; float:none; overflow:hidden;}


/* @core
********************************************************************************************
********************************************************************************************/

#core{ padding:60px 7.7% 0 7.7%; width: 84.6%; margin:0 0; overflow:hidden;}

#content{
	float:left;
	width:68.4%;
	padding:0 0;
}

.container>div.page{padding: 0 2.5% 0 2.5%; width:95%;}

#sidebar{
	float:right;
	overflow:hidden;
	width:27.6%;
	padding:0 0 0 2.5%;
}

#sidebar>ul{ margin:0 0 25px 0;}

#sidebar p,
.aq-block-aq_3_column_block p{ font-size:95%; line-height:1.7;}


/* @page styles
********************************************************************************************
********************************************************************************************/

.pageheader{ margin:0 0 60px 0;padding:100px 0; overflow:hidden;}

.pageheader h2{ color:#fff !important;  float:left; display:block;}


#portfolio-filter{ overflow:hidden; float:right; display:block; margin:40px 0;}

#portfolio-filter ul{ display:inline;}

#portfolio-filter ul li{ float:left; display:inline;}

#portfolio-filter ul li a{ color:#fff; font-size:120%; padding:30px 13px;}
#portfolio-filter ul li a:hover{ color:#fff; text-decoration: underline;}

li.current-cat a{ font-weight: bold; text-decoration: underline;}


/* @post styles
********************************************************************************************
********************************************************************************************/

.singlepost{
	background:#fff;
	padding-top:40px !important;
	padding-bottom:40px !important;
}

#content>.post .imgwrap{ margin:0 0 30px 0;}

img.attachment-block-slider,
img.headimg,
img.singleimg,
img.main-single,
.postslider img{ float:left; margin:0; overflow:hidden;}

img.attachment-format-standard,
img.size-full,
img.headimg,
.postslider .slides img {max-width:100%;}

img.attachment-format-standard{ width:100%;}

.blogposts{ position:relative;}

.postinfo{ padding:12px 10px; margin:0;clear:both;border-top:1px solid #ddd; border-bottom:1px solid #ddd;}

.postinfo-top{ text-align:center; width:50%; margin:0 25%;}

.postinfo .meta{ background:none; opacity:1;padding: 0 0 8px 0;}

.entry,
.fullentry,
.infinite .teaser,
.gridblock .teaser{
	padding:0 0 10px 0;
	margin:0 0 10px 0;
	position:relative;
	overflow:hidden;
	border-bottom:2px solid #eee;
}

.infinite .teaser,.gridblock .teaser{overflow:visible;}

.format-gallery .entry{ overflow:visible;} 

.entry p,
.fullentry p{margin:3px 0 15px 0;}

.entry>ul{margin:0 0 25px 20px;}

.entry>ul>li ul{margin:0 0 05px 20px;}

.entry>ul>li,
.entry>ul>li ul li ul li{ list-style-position:inside; list-style:circle;}

.entry>ul>li ul li{ list-style-position:inside; list-style:square;}

.entry .contact-form{ overflow:hidden; float:none; clear:both; padding:0 0 30px 0;}

.entry ol{margin:0 0 25px 20px;}

.entry ol li ol{margin:0 0 5px 20px;}

.entry ol li{ list-style: decimal; list-style-position:inside;}

.entry ol li ol li{ list-style: upper-latin;list-style-position:inside;}

.entry ol li ol li ol li{ list-style: lower-latin;list-style-position:inside;}

.entry blockquote{
	border-left:2px solid #ddd;
	padding:5px 30px !important;
	margin:25px 0 25px 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
	line-height:1.9em;
	letter-spacing:0;
	}
	
.entry blockquote p{ margin:0 0 0 0;}

h2.single{
	padding:0; margin:-5px 0 15px 0;
}

h2.singlefull{
	padding:0; margin:-5px 0 15px 0;
}

.meta,.comment-meta{
	line-height:1.4;
	font-weight:normal;
	overflow:hidden;
	padding:0 0 0 0;
	margin:10px 0;
	text-transform:uppercase;
}

.meta i{
	padding:0 2px 0 1px;
}

.meta a{
	line-height:1.4;
}

.tagssingle{
	overflow:hidden; margin-bottom:10px !important; padding-top:12px; padding-bottom:12px;
}

.tagssingle a{
	margin:0 10px 5px 0 !important;
	white-space:nowrap;
	float:left;
}

.archivepost h3,
.catpost h3,
h3#comments-title,
h3#reply-title{
	margin:0 0 0 0; padding-bottom:10px;
}

.postauthor {
	overflow:hidden; margin:0 0 25px 0; padding:0 0 20px 0; position:relative; border-bottom:2px solid #ddd;
}

.postauthor_alt { margin:0 0 -1px 0;  width:94%; border-right: none;}

.postauthor img{
	padding:4px;
	background:url(images/transparent.png);
	float:left;
	margin:5px 25px 15px 0;
}

h3.additional{
	margin:0 0 15px 0;
	padding: 0 0;
	font-size:15px;
}

.authordesc{
	margin-top:0;
	padding:0;
	line-height:1.9em !important;
}

/* .authoricons a{ font-size:15px; padding:4px 6px; margin:15px 1px 10px 0; width:20px; float:left;background:url(images/transparent.png); text-align:center; } */
.authoricons a{ font-size:15px; padding:4px 6px; margin:0px 1px 0px 0; width:20px; float:left;background:url(images/transparent.png); text-align:center; }

.authoricons a.hidd{ display:none}


/* .metapost{ margin:0 0 20px 0 !important; float:left; overflow:hidden; width:99.8%;border-top:1px solid #ddd;border-bottom:1px solid #ddd;} */
.metapost{ margin:0 0 20px 0 !important; float:left; overflow:hidden; width:99.8%;}

.metapost p{ border-left:1px solid #ddd;  margin:10px 0 10px -1px !important; padding:4px 10px !important; float:left; line-height:1;}




.nextprev{ overflow:hidden; margin:5px 0 30px 0; padding:5px 0 25px 0; border-bottom:2px solid #ddd; font-size:85%;}

.nextprev a{  font-size:120%;}

.nextprev span{ width:35%; padding:0 2px}

.nextprev span.fr{ text-align:right;}


.related{
	float:left; width:104%; overflow: hidden; margin:0 0 15px 0; padding:0 0 !important;
}

.related li{
	float:left; width:45%; margin:0 5% 20px 0;overflow: hidden; position:relative;padding:0 0 0 0; line-height:14px !important;
}

.related li div{ border-top:none;padding:0 0 0 0;}

.related li:first-child{float:none; width:100%;margin:0 0 0 0;}

.related li .imgwrap{ margin:5px 20px 0 0 !important; max-width:25%;}

.archivecontent{
	padding:5px 10% 0 6% !important; min-height:340px;
}

.archivepost {
	margin:0 0 20px 0;
	padding:0 !important;
}

.archivepost li,
.catpost{
	padding:20px;
	overflow:hidden;
	position:relative;
	margin:0 0 0 0;
	border-top:1px solid #ddd;
	position:relative;
}



.archivepost li:first-child{
	margin:0 0 0 0;
}

.archivepost a img,
.catpost a img{
	float:left; margin:0 25px 0 0;
}


.archivepost h3,
.catpost h3{
	margin:0 0 10px 0; padding-bottom:0;
	background:none;
	border:none;
}




/* @formats 
********************************************************************************************
********************************************************************************************/

ul.medpost{
	padding:70px 0 0 0;
	margin:0 0 0 0;
	width:104%;
	overflow:hidden;
}
	
ul.medpost>li{ 
	margin-bottom:35px; overflow:hidden;
	position:relative;
	width:29%;
	padding:0 4.3% 5px 0 ;
	float:left;
}


li.format-video iframe,
li.format-audio iframe{
	height:auto;
	width:100%;
	margin:0 0 20px 0;
	float:left;
}

li.format-video iframe{ min-height:400px;}

li.format-audio iframe{ min-height:300px;}

.entry p iframe,
#content>.post>iframe{ max-width:100%}

.fr .meta_more{margin:4px 0 10px 0;}

.meta_more a{ border:1px solid #ddd; padding:5px 8px; width:75px; display:block; overflow:hidden; margin:2px 0; text-align: center;}

.meta_more a:hover{ color:#fff !important;}

li.format-image .imgwrap{ max-width:100% !important}

.blog li.format-quote{
	text-align:center;font-size:16pt; line-height:1.5;background: url(images/transparent.png); margin-bottom:40px !important;
}

.blog li.format-quote blockquote{
	padding:50px 30px 20px 30px;text-align:center;font-size:16pt; line-height:1.5;
}

.blog p.quuote_author{ font-size:10pt;margin-bottom: 30px;}



.imgwrap{
	background-image:url(images/icons/bt-next.png);
	background-repeat:no-repeat;
	background-position: 50% 50%;
	position:relative !important;
	overflow:hidden;
	margin:0 0 0 0;
	max-width:100%;
	border-bottom:2px solid #ddd;
}

.imgwrap img,
.imgwrap iframe{ float:left;overflow:hidden; max-width:100%;}

li.format-link .fr .meta,
.format-link span.views{ display:none;}


.ribbon{}
.ribbon_icon{ font-size:20px; position:absolute; top:30px; right:40px; z-index:2; color:#fff;}

.ribbon_icon{ display:none\9;}


li.format-image .ribbon_icon{  color:#fff; z-index:9;font-size:20px;}

.blogger .ribbon_icon{ font-size:20px; color:#fff; top:auto; top:10px; right:20px; z-index:1;}

.cats_small .ribbon_icon{ font-size:14px; color:#fff; top:auto; top:22px; right:auto; left:8px; z-index:1;}

.gridblock li.gridpost .ribbon_icon{left:40px;  right: auto}



/* @comments 
********************************************************************************************
********************************************************************************************/

#comments {
	clear: both;
	margin-top:0;
	padding:20px 0 !important;
}

#comments .navigation {
	padding:20px 0;
	clear: both;
	overflow:hidden;
}

h3#comments-title{
	margin:0 0 10px 0;
}

h3#reply-title {
	padding:0 0 10px 0;
	margin:0 0 8px 0;
	border-bottom:1px solid #eee;
}

.commentlist {
	list-style: none;
	margin:0 0 0 0;
}

ol.commentlist {
	margin-top:-20px;
}

.commentlist li.comment {
	background: url(images/line-h-l.png) top repeat-x;
	line-height: 24px;
	margin: 0 0 15px 0;
	padding: 30px 0 0 80px;
	position: relative;
}

.commentlist li:first-child {
	background: none;
}

#comments .comment-body ul,
#comments .comment-body ol {
	margin-bottom: 18px;
}

#comments .comment-body p:last-child {
	margin-bottom: 6px;
}

#comments .comment-body blockquote p:last-child {
	margin-bottom: 24px;
}

.commentlist ol {
	list-style: decimal;
}

.commentlist .avatar {
	position: absolute;
	padding:1px;
	background:url(images/transparent.png);
	top: 30px;
	left: 0;
}

.comment-author {
}

.comment-author cite {
	font-size:14px !important;
}

.comment-author .says {
	display:none;
}

.comment-meta {
	margin: 0 0 20px 0;
}

.comment-meta a:link,
.comment-meta a:visited {
	color: #888;
	text-decoration: none;
}

.comment-meta a:active,
.comment-meta a:hover {
	color: #ff4b33;
}

.commentlist .even {
}

.commentlist .bypostauthor {
}

.reply {
	padding: 0 0 10px 0;
	overflow:hidden;
}

.reply a,
a.comment-edit-link {
	font-size: 10px !important;
	text-transform:uppercase;
	padding:6px 10px !important;
	font-weight: normal;
	line-height: 0;
	margin:15px 0 !important;
	float:left;
}

a.comment-edit-link {
	float:right;
}

.reply a:hover,
a.comment-edit-link:hover {
	color: #ff4b33;
}

.commentlist .children {
	list-style: none;
	margin: 0;
}
.commentlist .children li {
	list-style: none;
	border: none;
	margin: 0;
}

.nopassword,
.nocomments {
	display: none;
}

#comments .pingback {
	border-bottom: 1px solid #e7e7e7;
	margin-bottom: 18px;
	padding-bottom: 18px;
}

.commentlist li.comment+li.pingback {
	margin-top: -6px;
}

#comments .pingback p {
	color: #888;
	display: block;
	font-size: 12px;
	line-height: 18px;
	margin: 0;
}

#comments .pingback .url {
	font-size: 13px;
	font-style: italic;
}

#sidebar p input[type=submit] {
	cursor:pointer;
	border:none;
	color:#fff !important;
	font-weight:bold;
}

#respond {
	margin:0;
	overflow: hidden;
	position: relative;
}

#respond p {
	margin: 0;
	clear:right;
}

.comment-form-author,
.comment-form-email,
.comment-form-url{
	width:30%; float:left; margin-right:4.4% !important;
}

.comment-form-url{
	margin-right:0 !important;
}

.fullsingle .comment-form-author,
.fullsingle .comment-form-email,
.fullsingle .comment-form-url{
	width:31.2%;
}

.fullsingle #respond textarea{
	width:96.5%;
}

input#author,
input#email,
input#url{
	width:90% !important; padding:10px 5%; margin-bottom:20px !important;
}

#respond .comment-notes{
	margin-bottom:30px;
	opacity:.7;
	font-size:90%;
}

.form-allowed-tags{
display: none;
}

.children #respond{
	margin: 0 48px 0 0;
}

#comments-list #respond{
	margin:0;
}

#comments-list ul #respond {
	margin: 0;
}

#cancel-comment-reply-link {
	font-size: 10px !important;
	font-weight: normal;
	line-height: 1;
	margin-left:10px;
}

#respond .required {
	color: #ff4b33;
	font-weight: bold;
	margin-left:3px;
}

#respond label {
	color: #888;
	font-size: 12px;
}

#respond input {
	margin:0;
	width: 96%;
}

#respond textarea {
	width: 89%;
}

#respond .form-allowed-tags {
	display: none;
}

#respond .form-allowed-tags code {
	display: none;
}

#respond .form-submit {
	margin: 12px 0;
}

#respond .form-submit input {
	font-size: 14px;
	width: auto;
	margin:20px 1px 20px 1px;
}



/* @forms 
********************************************************************************************
********************************************************************************************/

input, textarea,input checkbox,input radio,select, file{
	border:1px solid #ddd;
	padding:7px 5%;
	max-width:90%;
	margin:0 10px 0 0;
}

.entry p input{ overflow:hidden; clear:both; float:none; display:block; margin-top:4px;}


.entry p input[type=checkbox],
.entry p input[type=radio]{float:left;}

form#contactform fieldset input{
	float:none;
	width:320px;
	margin-top:30px;
}

select{ width:100%; margin:0 0 20px 0;}

input[type=submit]{ color:#fff; border:none;}
	
form#contactform fieldset textarea{
	margin-top:30px;
	width:430px;
	border: 1px solid #eee;
	background:#fff;
}
	
form#contactform fieldset input#submit{
	width:150px; cursor:pointer;
}

#contact{
	padding:0 0 30px 0;
}

submit{ cursor:pointer; background:none !important;}



/* @search 
********************************************************************************************
********************************************************************************************/
 
.searchform{
	position: relative;
	float: none;
	overflow:hidden;
	clear:both;
	width:100%;
	margin:0 0 30px 0;
}

.aq_span4 .searchform{ margin:0 0 20px 0;}

#header .searchform{
	float: right;
	width:160px;
	clear: none;
}
 
.searchSubmit{
	position: absolute;
	height: 17px;
	width: 17px;
	border: none;
	cursor: pointer;
	margin:0;
	overflow:hidden;
	top: 6px;
	right:8px;
	color:#fff;
	font-size:11px;
	background-color:transparent;
}
	
.searchform input.s{
	padding:6px 4% !important;
	margin:0 0;
	font-style:normal;
	font-size:13px !important;
	max-height:15px;
	line-height:1.2 !important;
	width:92%;
	max-width:100%;
	background-color:transparent;
	background-image:url(images/transparent.png);
	border:none;
}

#footer .searchform{margin:40px 0;}

#sidebar .searchform input.s,
#footer .searchform input.s,
.aq_span4 .searchform input.s{ padding:12px 4% !important;}

#sidebar .searchSubmit,
#footer .searchSubmit,
.aq_span4 .searchSubmit{height: 27px;width: 26px;}

#footer .searchform input.s{ border:1px solid #999; width:91%}

 
 

/* @blocks
********************************************************************************************
********************************************************************************************/

.divider h2{margin:12px 0 12px 0;}

.divider p{margin:0 0 12px 0;}

.widgetwrap{ width:100%; padding:0; overflow:hidden; background-position:50% 0; background-repeat:repeat-x !important; background-attachment:fixed;}

.gridblock{ position:relative;}

.gridblock li.gridpost{ float:left; margin:0 0 25px 0; padding:0 0 25px 0; width:100%; position:relative;}

.gridblock li.gridpost .imgwrap{ margin:0 35px 20px 0; max-width:40%; position:relative; float:left; z-index:1;}

.gridblock li.gridpost .img{ max-width:100%; margin:0 0 0 0;}

.nav-previous{ display:block !important; overflow:hidden; width:100%; z-index:9; text-align:center;  margin:0 0 30px 0;  }
.nav-previous a{ display:block; overflow:hidden; padding:8px 20px 8px 20px; color:#fff !important;}

#infscr-loading{ overflow:hidden; position:absolute; bottom:120px; left:50%; z-index:9; text-align:center; width: 300px; height:150px; margin:0 0 0 -150px;background:url(images/ajax-loader.gif) 50% 35% no-repeat; }

#infscr-loading div{
	position:absolute;
	z-index:9999;
	left:0;
	text-align:center;
	bottom:25px;
	overflow:hidden;
	width:100%;
}

#infscr-loading img{ display:none;}


/* blog blocks */

.blogger{ overflow:hidden; margin:0 0 0 0; width:109% !important;}

.journal .blocker{ margin-bottom:15px; overflow:hidden;}

.aq_span4 .blogger{  width:100% !important;}

.aq_row>.aq_span12 .blogger{
	padding: 0 7.7%;
    width: 88.6% !important;
	}

.blogger li{float:left; margin:0 5.3% 30px 0; padding:0 0 20px 0; position:relative; overflow:hidden;}

.blogger li img{ max-width:100%; overflow:hidden; margin:0 0 0 0; }

.blogger li .imgwrap{ overflow:hidden; margin:0 0 15px 0;}

.blogger li iframe{ width:100%; height:auto; float:left; margin:0 0 15px 0;border-bottom:2px solid #ddd;}

.blogger li h3{ font-size:15px !important;}

.blogger li h3,
.blogger li p{ margin:5px 0 10px 0; overflow:hidden;}

/*.blogger li .meta_more a{ float:none; margin:2px auto;}*/

.imgwrap .meta{ position:absolute; bottom:0; left:0; z-index:2; padding:5px 5%; margin:0 0; width:90%;background:url(images/transparent-dark.png);}

.imgwrap .meta,.imgwrap .meta a{ color:#fff !important;}

.blogger li p.teaser{ font-size:95%; line-height:1.7;}

.oneblog li{width:100%; margin:0 0 5px 0;}
.oneblog li iframe{min-height:250px;}
.oneblog li h3,
.oneblog li p{ margin:5px 0 10px 0;}

.twoblog li{width:27%; height:380px;}
.twoblog li iframe{min-height:223px;}
 
.fourblog li{width:20.8%; height:100%;margin:0 4% 30px 0;} 
.fourblog li iframe{min-height:240px;}



/* journal */

.journal{ margin:0 0 0 0;padding:0 7.7%; width:84.6%; overflow:hidden;}

.aq_span8 .journal{  width:100% !important;padding:0 0; }

.journal_big{ overflow:hidden; margin:0 -1px 5px 0; position:relative; width:34.2%; padding:20px 2%; float:left;border: 1px solid #f2f2f2;}

.journal_big .imgwrap{ max-width:100%; margin:0 0 20px 0 ; }

.journal_big iframe{ width:100%; max-height:320px;}

.journal_big h2{ margin:10px 0;}

.journal_big p.teaser{font-size: 95%;line-height: 1.7;}

.journal_small{ position:relative; overflow:hidden;/*background:url(images/transparent.png);*/ float:left; height:300px; padding:0 2%; width:16.4%; margin:0 -1px 0 0; border: 1px solid #f2f2f2;}

.aq_span8 .journal_small{ height:260px;}

.journal_small:nth-child(5),
.journal_small:nth-child(6),
.journal_small:nth-child(7){ margin:-1px -1px 0 0;}

.journal_small h3{ font-size:13px !important; margin:4px 0 -6px 0; padding:0 0 5px 0;}

.journal_small .imgwrap{ margin:20px 0 10px 0;}

.journal_small p.meta,
.tab-post p.meta{ font-size:10px !important;}


/* two cats */

.leftcat,
.rightcat{ float:left; margin:0 5% 10px 0; width:47.5%;}

.rightcat{margin:0 0 10px 0;}

.cats_big{ margin:0 0 20px 0; position:relative;}

.cats_big h2 {margin: 20px 0 12px 0;}

.cats_big iframe{ width:100%; max-height:245px; border-bottom:2px solid #eee; float:left; overflow:hidden; display:block;}


.cats_small{ overflow:hidden; width:100%; float:left; padding:20px 0 19px 0; position:relative; border-top: 1px solid #eee;}

.cats_small h3{ font-size:13px !important; margin:7px 0 0 0; padding:0 0 0 0;}

.cats_small .imgwrap{ margin:0 20px 0 0; float:left; max-width:22%;}

.cats_small p.meta{ font-size:10px !important;}



/* video block */

.videoblocker li.journal_big{ float:left; width:75.1%;}
.videoblocker li.journal_big img{ width:100%;}
.videoblocker li.journal_small{ margin:-1px 0 0 0px !important; height:175px;}
.videoblocker li.journal_small p.meta{ display:none;}
.videoblocker li.journal_small h3{ height:30px; overflow:hidden;}
.videoblocker li.journal_small .imgwrap { max-height: 95px;}
.videoblocker li.journal_small img{ margin-top:-10px;}


/* @footer
********************************************************************************************
********************************************************************************************/

#footer {
	margin: 0;
	padding:40px 7.7%;
	width:84.6%;
	overflow:hidden;
	position:relative;
	text-shadow:none;
	z-index:10;
	border-top:1px solid #ddd;
}

#footer .first{margin-left:0 !important;}

#footer .gradient-light{ background-image:none !important;}

#footer .fourcol{
	width:31%;
	margin-left:3.5%;
}
 
#footer h2{
	font-size:20px;
	width:100%;
	line-height:1;
	margin:45px auto 15px auto;
	padding:0 0 15px 0;
	overflow:hidden;
	text-align:left;
	background:url(images/line-h-l.png) bottom repeat-x;
}

#footer .ad300{margin:35px auto 15px auto;}

#footer .twinsbox{ border-bottom:none;}
	
#footer ul{
	margin: 0 0 10px 0; overflow:hidden; border-bottom:none !important;
}

#footer p{
	margin:3px 0 15px 0;
}
	
.threecol ul li{
	margin:0 0 8px 14px;
	padding:0 0 0 0;
	list-style:square;
	list-style-position:outside;
}

#footer select{
	overflow:hidden;
	clear:both;
	float:none;
	margin: 0 0 30px 0;
}

#footer #wp-calendar tbody td{
	padding:2px;
}

#copyright {
	width: 100%;
	max-width: 1140px;
	margin:0 auto;
	font-size: 10px;
	overflow:hidden;
	padding-top:20px;
	opacity:.7;
	text-align: center;
	border-top:1px solid #ddd;
}
 
#copyright p {
	margin: 0;
	padding: 0 0;
}

.post-date{ padding-left:5px; font-style:italic;}
	
	
/* @images
********************************************************************************************
********************************************************************************************/

img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
	float: none;
}

img.alignright {
	margin: 4px 1px 10px 20px !important;
	display: inline;
	float: right;
}

img.alignleft {
	margin: 4px 20px 10px 1px !important;
	display: inline;
	float: left;
}

.alignright {
	float: right;
	margin: 4px 1px 10px 18px !important;
}

.alignleft {
	float: left;
	margin: 4px 18px 10px 1px !important;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}
	
.wp-caption {
   	text-align: center;
   	padding-top:0;
	max-width:98%;
	background-image:url(images/transparent.png);
	overflow:hidden;
}

.wp-caption img {
   margin: 0;
   padding: 0;
   border: 0 none;
   max-width:100%;
	overflow:hidden;
   display:block;
}

.wp-caption p.wp-caption-text {
	font-size: 11px;
	padding: 0 0;
	margin:10px 0;
	width:100%;
	overflow:hidden;
}

img.wp-smiley {
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
}
	
	
	
/* @social
********************************************************************************************
********************************************************************************************/

.social-warp{text-align:center; overflow:hidden;}

ul.social-menu {
	position: relative;
	overflow: hidden;
	padding: 0;
	margin:3px 0;
	text-align:center;
	display:inline-block;
}

#topnav ul.social-menu{margin:22px 25px 0 0; float:right;}
 
ul.social-menu li {
	display: inline;
	list-style-type: none;
	position: relative;
	line-height:1;
	float: left;
	margin: 0 1px 0 0 !important;
	padding:0 0 0 0;
	overflow: hidden;
	text-align:center;
	-moz-transition: opacity 0.3s ease-in;
	-webkit-transition: opacity 0.3s ease-in; 
	-o-transition: opacity 0.3s ease-in;
	
}

	
ul.social-menu li:hover {
	opacity:1;
	-moz-transition: opacity 0.3s ease-in;
	-webkit-transition: opacity 0.3s ease-in; 
	-o-transition: opacity 0.3s ease-in;
}

ul.social-menu li a{
	font-size:17px;
	text-align:center;
	padding:7px 6px 7px 7px;
	min-width:20px;
	text-align:center;
	float:left;
	background-image:url(images/transparent.png);
	color:#666;
}

ul.social-menu li a.differ{ font-size:13px !important; padding:7px 5px;}

ul.social-menu li a:hover{ color:#fff !important; background-image:none;}

ul.social-menu li.sprite-rss a:hover{ background-color:#FE9900 !important;}
ul.social-menu li.sprite-google a:hover{ background-color:#DB4A37 !important;}
ul.social-menu li.sprite-delicious a:hover{ background-color:#3274D2 !important;}
ul.social-menu li.sprite-yahoo a:hover{ background-color:#65106E !important;}
ul.social-menu li.sprite-stumbleupon a:hover{ background-color:#EC4823 !important;}
ul.social-menu li.sprite-skype a:hover{ background-color:#00A8E9 !important;}
ul.social-menu li.sprite-behance a:hover{ background-color:#2D9AD2 !important;}
ul.social-menu li.sprite-myspace a:hover{ background-color:#003399 !important;}
ul.social-menu li.sprite-lastfm a:hover{ background-color:#B70736 !important;}
ul.social-menu li.sprite-linkedin a:hover{ background-color:#0274B3 !important;}
ul.social-menu li.sprite-flickr a:hover{ background-color:#F3006F !important;}
ul.social-menu li.sprite-deviantart a:hover{ background-color:#455548 !important;}
ul.social-menu li.sprite-tumblr a:hover{ background-color:#35506B !important;}
ul.social-menu li.sprite-vimeo a:hover{ background-color:#1BB6EC !important;}
ul.social-menu li.sprite-youtube a:hover{ background-color:#EC2828 !important;}
ul.social-menu li.sprite-twitter a:hover{ background-color:#00ABF0 !important;}
ul.social-menu li.sprite-facebook a:hover{ background-color:#47639E !important;}
ul.social-menu li.sprite-pinterest a:hover{ background-color:#CA222F !important;}
ul.social-menu li.sprite-instagram a:hover{ background-color:#734332 !important;}
ul.social-menu li.sprite-dribbble a:hover{ background-color:#DF3E7B !important;}
ul.social-menu li.sprite-github a:hover{ background-color:#000 !important;}
ul.social-menu li.sprite-px a:hover{ background-color:#000 !important;}
ul.social-menu li.sprite-foursquare a:hover{ background-color:#8CC540 !important;}
ul.social-menu li.sprite-soundcloud a:hover{ background-color:#FE5419 !important;}
ul.social-menu li.sprite-spotify a:hover{ background-color:#7CC110 !important;}
ul.social-menu li.sprite-ebay a:hover{ background-color:#FFCB01 !important;}


.dividers{ text-align:center;}

.dividers ul.social-menu{ margin: 35px  auto; }

.dividers ul.social-menu a{ font-size:24px !important;min-width:35px; padding-top:13px; height:30px;}


/* @flex slider
********************************************************************************************
********************************************************************************************/

/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
/*.flexslider .slides > li:first-child {display: block; -webkit-backface-visibility: visible;}*/
.flexslider .slides img {width: 100%; display: block; margin:0 !important;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/

.flexslider { margin: 0 0 0 0; zoom: 1; position:relative; }
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport {}
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a  { display: block; width:30px; height:30px; margin: -20px 0 0; position: absolute; top: 50px; z-index: 10; overflow: hidden; opacity: 0; cursor: pointer; color: rgba(0,0,0,0.8); text-shadow: 1px 1px 0 rgba(255,255,255,0.3); -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease; text-indent:-9999px; }
.flex-direction-nav .flex-prev { right: 0;background:url(images/icons/bg-prev.png) no-repeat 11px 12px;}
.flex-direction-nav .flex-next { right: 0;background:url(images/icons/bg-next.png) no-repeat 11px 12px;}
.flexslider:hover .flex-prev { opacity: 1; right: 51px; }
.flexslider:hover .flex-next { opacity: 1; right: 20px; }
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: .8; }
.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }
.flex-direction-nav a:before  {font-size: 40px; display: inline-block;}
.flex-direction-nav a.flex-next:before{}


/* Pause/Play */
.flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }
.flex-pauseplay a:before  {display: inline-block;}
.flex-pauseplay a:hover  { opacity: 1; }
.flex-pauseplay a.flex-play:before {}


/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; top:5%; text-align: center; height:20px; z-index:9;}
.flex-control-nav li {margin: 0 5px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 12px; height: 12px; display: block; background:url(images/buttons.png) 0 0; text-indent:-9999px; opacity:.7;}
.flex-control-paging li a:hover { background:url(images/buttons.png) 0 0; opacity:1; cursor:pointer; }
.flex-control-paging li a.flex-active { background:url(images/buttons.png) -15px -0; opacity:1; cursor: default; }

/* Block Slider */
.blockflex{ margin:0 0 0 0; overflow:hidden;}
.blockflex .slides { display:block; width:68%; float:right; margin:0 0;}
.blockflex .slides img,
.blockflex .slides iframe{width:100%; display:block; float:none; margin:0 auto;}


.flexinside h2{ margin:30 0 15px 0;}

.slide-nav{ overflow:hidden; width:32%; float:left; padding:1px 0 0 0;}
.slide-nav li{ line-height:1.3; margin:-1px 40px 0 0; border:1px solid #ddd;border-left:none;border-right:none;}
.slide-nav li a{ padding:15px 5px 15px 0; overflow:hidden; display:block; border-right:10px solid #eee; }
.slide-nav li a.flex-active{ }


/* Carousel */
.flexwrap{margin: 0 7.7%;width: 84.3% !important;padding:0 0 5px 0; overflow:hidden;}
.aq_span8 .flexwrap{margin: 0 0 40px 0;width: 100% !important;}

.blog .flexwrap{margin: 40px 7.7% 0 7.7%;}

.flexcarousel{margin: 0 0;padding:0; overflow:hidden;}
.flexcarousel .slides{ min-height:100%;}
.flexcarousel .flex-direction-nav li a{top: 50px;}
.flexcarousel .flex-control-nav { display:none;}
.flexcarousel .slides li{ position:relative; overflow:hidden;}
.blockinside{  padding: 0 0; }
.flexcarousel h2{ margin:15px 0 12px 0;}
.blockinside{ padding:0 40px 0 1px; overflow:hidden; display:block;}
.blockinside .meta_more{ float:right; padding:1px;}

.aq_span8 .flexcarousel h2{ font-size:14px; font-weight:normal !important;}
.aq_span8 .flexcarousel p{ display:none;}


/* Singleslider */
.singlesliderwrap{ text-align:center; overflow:hidden; margin:0 0 20px 0; width:100%;background:url(images/transparent-light.png); }
.singleslider{ margin:0 0 0 0; overflow:hidden;min-height:470px;}

.singleslider ul.slides{ margin:0 0;}
.entry .singleslider ul.slides li{ max-width:100%; overflow:hidden; float:left !important; padding:0 0 0 0 !important; list-style:none !important;} 
.singleslider .flex-direction-nav a  {top: 40px;}
.singleslider .flex-control-nav{ display:none; padding-bottom:70px;}
.singleslider .flex-caption{ position: absolute; left:0; bottom:25px; padding:10px 25px; color:#fff;background:url(images/transparent-dark.png);}

.vrg_slideshow_menu{ display:none}
ul.vrg_slideshow_thumbnails { margin:0 auto !important; padding:20px 0 0 0; position:relative;z-index:1; overflow:hidden; display:inline-block; text-align:center; float:none;}
ul.vrg_slideshow_thumbnails li { display:inline;margin:0; padding: 0;}
ul.vrg_slideshow_thumbnails li a { padding: 0; margin: 0 12px 12px 0;float:left; display: block; width:50px; height:50px; border:none; }
ul.vrg_slideshow_thumbnails li img, ul.vrg_slideshow_thumbnails li img.thumbnail, ul.vrg_slideshow_thumbnails li img.attachment-thumbnail { margin: 0; width:50px; height:50px; }
ul.vrg_slideshow_thumbnails li a img { padding:2px; opacity:0.4; border:none;background:url(images/transparent.png);}
ul.vrg_slideshow_thumbnails li a.flex-active img,ul.vrg_slideshow_thumbnails li a:hover img {opacity:1.0; }




/* @sequence
********************************************************************************************
********************************************************************************************/

.sequence-theme {
	margin:0 0 0 0;
	background:#222;
}

#sequence {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 50% 100%;
  color: white;
  margin: 0 auto;
  height: 550px;
}

#sequence > .sequence-canvas {
  height: 100%;
  width: 100%;
}
#sequence > .sequence-canvas > li {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
}
#sequence > .sequence-canvas > li img { width:100%;}

#sequence > .sequence-canvas li > * {
  position: absolute;
  /* only cause the left and opacity properties to transition */
  -webkit-transition-property: left, opacity;
  -moz-transition-property: left, opacity;
  -ms-transition-property: left, opacity;
  -o-transition-property: left, opacity;
  transition-property: left, opacity;
}

.sequence-next,
.sequence-prev {
  color: white;
  cursor: pointer;
  display: none;
  font-weight: bold;
  padding: 10px;
  position: absolute;
  bottom:15px;
  z-index: 9;
  margin-top: -20px;
}

.sequence-pause {
  bottom: 0;
  cursor: pointer;
  position: absolute;
  z-index: 1000;
}

.sequence-paused {
  opacity: 0.3;
}

.sequence-prev {
  left:15px;
}

.sequence-next {
  right:15px;
}

.sequence-prev img,
.sequence-next img {
  height: 100%;
  width: auto;
}

#sequence-preloader {
  background: #d9d9d9;
}

.sequence-pagination {
	bottom: 0;
	display: none;
	right: 0;
	width:100%;
	text-align:center;
	position: absolute;
	height: 70px;
	overflow:hidden;
	z-index:8;
	padding:0 0;
	margin:0 0 0 0;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-ms-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
	/*background:url(images/transparent-dark.png);*/
}
.sequence-pagination li {
	display: inline-block;
	height: 50px;
	width:170px;
	float:none;
	padding:10px 10px;
	margin:0 0 0 1px;
	overflow:hidden;
	text-align:left;
	cursor: pointer;
	line-height:1.2;
	opacity:.5;
	background:url(images/transparent-dark.png);
	font-size:11px;
}

.sequence-pagination li span{ padding:3px 0; display:block; height:50px; float:left; width:100px}

/*
.sequence-pagination li:first-child{ padding-left:20px !important;}

.sequence-pagination li:last-child{ padding-right:20px !important;}
*/

.sequence-pagination li:hover{ opacity:1}

.sequence-pagination li.current{
  opacity: 1;
	background:url(images/transparent-dark.png);
}

.sequence-pagination li img {
  float:left;
  margin:0 13px 0 0 ;
  opacity: 0.8;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -ms-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-property: margin-bottom, opacity;
  -moz-transition-property: margin-bottom, opacity;
  -ms-transition-property: margin-bottom, opacity;
  -o-transition-property: margin-bottom, opacity;
  transition-property: margin-bottom, opacity;
  width:53px;
}
.sequence-pagination li img:hover {
  margin-bottom: 4px;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.sequence-pagination li.current img {
  opacity: 1;
}

.sequence-pagination li .meta{
	color:#999;
	padding:0 0 2px 0;
	margin:0 0 0 0;
}

.sequence-pagination li .meta i{ display:none;}

#sequence h2{}

#sequence h2 a ,#sequence p { color:#fff !important;}

.sequence-next,
.sequence-prev {
  position: absolute;
  opacity: 1;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -ms-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}

.sequence-next:hover,
.sequence-prev:hover {
  opacity: 1;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -ms-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}

.title {
	left: 100%;
	width: 20%;
	opacity: 0;
	bottom: 60%;
	z-index: 50;
	text-transform:uppercase;
	background-image:url(images/transparent-dark.png);
	padding:20px 20px 15px 20px;
	margin:0 0 1px 0;
	-moz-border-radius: 2px 2px 0 0;-khtml-border-radius:2px 2px 0 0;-webkit-border-radius:2px 2px 0 0;border-radius:2px 2px 0 0;
}

.subtitle {
  color: black;
  left: 65%;
  width: 20%;
  opacity: 0;
  top: 40%;
  z-index: 50;
  background-image:url(images/transparent-dark.png);
  padding:15px 20px 20px 20px;
  margin:0 0;
  
	-moz-border-radius:0 0 2px 2px;-khtml-border-radius:0 0 2px 2px;-webkit-border-radius:0 0 2px 2px;border-radius: 0 0 2px 2px;
}

.animate-in .title {
  left: 70%;
  opacity: 1;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -ms-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}

.animate-out .title {
  left: 100%;
  opacity: 0;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -ms-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}

.animate-in .subtitle {
  left: 70%;
  opacity: 1;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -ms-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}

.animate-out .subtitle {
  left: 65%;
  opacity: 0;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -ms-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}

.model {
  left: 0%;
  top: 0;
  opacity: 0;
  position: relative;
  height: auto !important;
  max-height: 100% !important;
  width: 100%;
  min-width: 716px;
  /* prevents the model from shrinking when the browser is resized */
 
}

.model iframe{ width:100%; height:490px}

.animate-in .model {
  left: 0;
  opacity: 1;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.animate-out .model {
  left: 0;
  opacity: 0;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.subtitle a.fr{ margin-top:5px; border:1px solid #fff; padding:0px 13px; font-size:11px; text-transform:uppercase; color:#fff;}



/* @tooltips
********************************************************************************************
********************************************************************************************/	

div.tooltip {
	display:none;
	position:absolute;
	text-align:center;
	line-height:normal;
	z-index:100000;
	opacity:1;
	filter:alpha(opacity = 95);
	background:#222;
	color:#eee;
	-moz-border-radius: 3px;-khtml-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;
}

div.tooltip p {
	padding:5px 5px;
	font-size:10px !important;
	line-height:1.3 !important;
	border-radius:2px;	
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	text-shadow:none;
	max-width:150px;
	text-transform:capitalize;
}

/* @other
********************************************************************************************
********************************************************************************************/

table,dl {
	border: 1px solid #DFDFDF;
	background:url(images/transparent-light.png);
	width: 99.8%;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-family: Arial,"Bitstream Vera Sans",Helvetica,Verdana,sans-serif;
	color: #333;
}
table td, table th, dd {
	border-top-color: white;
	border-top: 1px solid #DFDFDF;
	color: #555;
}

table tr:first-child th{ border-top:none;}

table th, dt {
	font-weight: normal;
	padding:10px 12px;
	text-align: left;
	line-height: 1.3em;
	font-size: 14px;
}
table td,dd {
	font-size: 12px;
	padding:10px 12px;
	vertical-align: top;
}

.tagcloud{ width:104%; overflow:hidden; margin:0 0 30px 0;}

.tagcloud a{ float:left; font-size:12px !important; padding:0px 10px; border:1px solid rgba(0, 0, 0, 0.1); margin:0 8px 8px 0;}


/* calendar widget */
.widget_calendar {float: left;}
#wp-calendar {width: 99%; margin:0 0 40px 0;}
#wp-calendar caption { text-align: left; font-size: 12px; margin-top: 0; margin-bottom: 15px; }
#wp-calendar thead { font-size: 10px; }
#wp-calendar thead th { padding-bottom: 10px; }
#wp-calendar tbody { }
#wp-calendar tbody td { background-image:url(images/transparent.png); border: 1px solid #fff; text-align: center; padding:8px;}
#wp-calendar tbody td:hover { background: #fff; }
#wp-calendar tbody .pad { background: none; }
#wp-calendar tfoot #next { font-size: 10px; text-transform: uppercase; text-align: right; }
#wp-calendar tfoot #prev { font-size: 10px; text-transform: uppercase; padding-top: 10px; }

.sticky{}

#archives{ padding:20px 0 0 0;}

h2.archives-small{
	font-size:16pt;
	line-height:22pt;
	/*background:url(images/divider15.png) bottom repeat-x;
	text-align:center;
	padding-bottom:12px;
	margin-bottom:10px;*/}


::selection {
	background:#52C8EC; 
	color:#fff;
}
::-moz-selection {
	background:#52C8EC;
	color:#fff;
}

.scrollTo_top {
	position:fixed;
	bottom:-4px;
	right:10px;
	opacity:1;
	z-index:99;
}

.scrollTo_top i{
	font-size:20px; padding:15px 20px 20px 20px;
	float:left;
	color:#fff;
	line-height:1 !important;
}

.scrollTo_top img{
	float:left;
}

.scrollTo_top a{
	float:left;
}




/* @themebuttons & pagination
********************************************************************************************
********************************************************************************************/

a.more-link {
	display: none;
	visiblity:hidden;
}

a.read-more {
	display: block;
	visibility:visible;
}

a.mainbutton,.nav_item a,#submit,#comments .navigation a,.tagssingle a,.contact-form .submit,a.comment-reply-link,#comment-submit{
	margin:1px;
	line-height:1;
	padding:10px 12px;
	color:#fff !important;;
	background: #444;
	border:none !important;
	font-size:12px;
	 cursor:pointer;
}

a.morebutton{display:block; font-size:14px;padding:10px 20px; margin:0 auto 30px auto; width:120px; text-align:center; text-transform:uppercase;}

a.mainbutton:hover,a.itembutton:hover,a.itembutton2:hover,.nav_item a:hover,#submit:hover,#comments .navigation a:hover,.tagssingle a:hover,.contact-form .submit:hover,a.comment-reply-link:hover{
	color:#fff !important;
	background: #353535 !important;
}	

.slides li a.mainbutton{ margin-top:-5px;}

.pagination{
	height:29px; margin:0 0 0 0; float:none; overflow:hidden; padding:5px 0 30px 0; position:relative;
}

a.page-numbers,
.page-numbers.current{
	overflow:hidden;
	font-size: 9pt; 
	background:url(images/transparent.png); 
	padding:5px 10px;
	line-height:1;
	margin:1px 8px 0 0;
}

.page-numbers.current {
	font-weight:bold;
	color:#fff !important;
}

.dots {
	letter-spacing: 1px;margin:0 15px 0 0;
}

.wp-pagenavi a,
.wp-pagenavi span{
	border:none !important; padding:3px 10px 3px 0 !important; margin:0 10px 0 0 !important;
} 

.wp-pagenavi span.pages{
	display:none;
}

.postnav{
	margin:10px 0;
}


/* @wp gallery 
********************************************************************************************
********************************************************************************************/

.attachment  .headimg{
	display:none; visibility:hidden;
}

#sidebar .wp-smiley,
#footer .wp-smiley {
	margin:0;
	width: auto !important;
}
.gallery {
	margin:0 auto 30px auto !important;
	width:100%;
}

.gallery .gallery-item {
	float: left;
	margin:0 1px 1px 0 !important;
	text-align: center;
	width:19.8% !important;
	height:auto;
	overflow:hidden;
	background-image:url(images/icons/zoom.png);
	background-position: 50% 50%;
	background-repeat:no-repeat;
	border:none; 
	border-radius:0;
}

.gallery img {
	border:0 !important;
	float:left;
	width:100%;
}

.gallery .gallery-caption {
	margin-left: 0;
}

.gallery dl {
	margin: 0;
}

.gallery-caption {
	color: #888;
	font-size: 12px;
	margin:-24px 0 24px 0;
	display:none;
}

.gallery br+br {
	display: none;
}

.gallery-icon{ padding:0 0 !important;}
	
	
	
/* ratings  
********************************************************************************************
********************************************************************************************/
		
i.icon-star-half{ margin-right:.3em}	
i.icon-star-empty{ opacity:.8}

.rating_star{ cursor: default;}	

.inpost span.rating_star{
	line-height:1 !important;
}

.meta span.rating_star{
	line-height:1 !important;
	font-size:9px !important;
	margin-left:3px;
}

.meta span.rating_star i{
	padding:0 0 0 0px;
}

.ratingblock{ width:35%; float:right; margin:10px 0 15px 25px; border:1px solid #ddd; padding:20px;}

.ratingblock p{ margin:0px 0 20px 0;}
.ratingblock h2{ margin:0; padding:15px 0; position:relative;}
.ratingblock h2 span.score{ position:absolute; top:0; right:0; padding:15px; color:#fff;}

.ratingblock h3{ text-transform:none; font-size:13px; margin:20px 0;}

/*.ratingblock i{ font-size:20px;}*/

.partialrating{ position:relative; height:18px; width:100%;display:block; background:url(images/transparent.png); margin-top:8px;}
.overrating{ position:absolute; top:0; left:0;height:18px; z-index:1;overflow:hidden;line-height:1;display:block;}

.ratingbar{ position:absolute; top:0; left:0; z-index:1; height:25px; width:100%;display:block; background:url(images/transparent.png); }
.imgwrap .ratingbar{ background:url(images/transparent-dark.png) repeat; }	
.ratingbar .overrating{ position:absolute; top:0; left:0;height:25px; z-index:1;overflow:hidden;line-height:1;display:block; opacity:.9}	
.ratingbar .overratingnr{ position:absolute; top:5px; left:15px;z-index:2; color:#fff !important;opacity:1; font-size:15px !important; text-transform:uppercase;line-height:1 !important;}




/* @plugins styling
********************************************************************************************
********************************************************************************************/

h2 label{ float:none;}

#subscribe-field{ padding:8px 13px; width:91% !important; margin-bottom:15px;}

.sharedaddy{ margin-top:20px;}

.tp_recent_tweets ul li{
	overflow:hidden;
	padding:15px 0 !important;
	background:url(images/line-h-l.png) top repeat-x;
	margin:0 !important;
	}

.tp_recent_tweets ul li:first-child{
	background:none;padding:0 0 15px 0 !important;
}

.tp_recent_tweets li a{ font-weight:normal;}

a.twitter_time{
	font-style: normal !important; font-size:10px !important;
}

#sidebar #ssba{ padding:20px 16px; border-bottom:1px solid #ddd;}


.wpcf7-form{ margin:15px 0 0 0;}

.wpcf7-form input,
.wpcf7-form textarea{ margin:10px 0 0 0;}



/* @tabs
********************************************************************************************
********************************************************************************************/

#hometab {
	float: left;
	width:100%;
	margin: 0 0 0 0;
	overflow: hidden;
	position: relative;
}
 
ul#serinfo-nav {
	position:relative;
	z-index: 6;
	margin:0;
	border-bottom:0px solid #ddd;
	width:101%;
}
 
ul#serinfo-nav>li {
	padding:7px 0 6px 0;
	font-size:90%;
	float: left;
	margin-right: 1px;
	width: 32.5%;
	text-align: center;
	text-shadow: none;
	cursor: pointer;
	background-image:url(images/transparent.png);
}

ul#serinfo-nav li a { font-size:12px !important;}

ul#serinfo-nav li a:hover {}
 
#serinfo-nav li.current {
	color: #000 !important;
	position:relative;
	z-index: 6;
	border-top:none;
	overflow:hidden;
	padding:6px 0 6px 0;
	background-image:none;
}
	
#serinfo-nav li.current a{
	color: #000;
}
 
li#serpane0,
li#serpane1,
li#serpane2,
li#serpane4,
li#serpane5{
	margin: 0 0 -2px 0;
	padding:0;
}

li#serpane3{
	padding: 15px;
}
 
ul#serinfo {
	position: relative;
	z-index: 5;
	float: left;
	padding: 0 0 0 0;
	overflow: hidden;
	width:99%;
	margin-top:-1px;
	border:1px solid #ddd;
}
 
.tab-post {
	height: 60px;
	overflow:hidden;
	border-bottom:1px solid #eee;
	margin:0 0 0 0;
	padding:20px;
}
 
.tab-post img {
	padding:0;
	margin: 0 18px 10px 0 !important;
	float: left;
	width:60px;
}

.tab-post h3 {
	letter-spacing: 0;
	padding: 0;
	margin:0 0 5px 0 !important;
	font-size: 12px !important;
	line-height:1.2;
}
	
.tab-post .meta{
	line-height:1 !important;
	font-size:11px !important;
}	

.tab-post .rating_star{ display:none;}

#serinfo-nav li.current{ border:1px solid #ddd; border-bottom:none;}

#serinfo,#serinfo-nav li.current{  }

/* @default widgets 
********************************************************************************************
********************************************************************************************/

.textwidget{ margin:0 0 45px 0;}

#calendar_wrap{ margin:0 0 20px 0;}


/* @custom widgets 
********************************************************************************************
********************************************************************************************/

ul.featured{ overflow:hidden; width:100%; margin:5px 0 10px 0;}

ul.featured li.fblock{
	min-height:108px;
	list-style:none !important;
	margin:0 0 15px 0 !important;
	width:100%;
	border-bottom:1px solid #eee;
}

ul.featured li.fblock:last-child{margin:0 0 0 0 !important; border-bottom:none;}

ul.featured li.fblock img{ overflow:hidden; float:left; margin:0 25px 0 0 ;}

ul.featured li.fblock h3{ font-size:13px; line-height:1.5; margin:0 0 10px 0;}

ul.featured_plain{ margin:0 0 30px 0;}

ul.featured_plain li{ margin:0 0 1px 0; background:url(images/transparent.png);}

ul.featured_plain li:hover{  background:none;}

ul.featured_plain li a{ display:block;padding:15px 15px 15px 25px;}

ul.featured_plain li h3{ font-size:13px; margin:0 0; padding:0 0 0 5px; background:url(images/bull.png) 10px 53% no-repeat;}

.twinsbox{ margin:0 0 30px 0; overflow:hidden;}

.twinsbox>iframe{ margin:-2px -2px -2px -10px; max-width:104%;}
 
ul.lists{list-style:none; overflow:hidden; margin:0; width:106%;}

#footer ul.lists{
	margin-top:0;
}

ul.lists li ul, ul.lists li ul li{
	margin:0 0 0 0 !important;padding:0 0 0 0 !important; width:100%; background:none;
}



.lists li{ 
	background:url(images/bull.png) 0 4px no-repeat;
	padding:0 10px 0 26px; 
	margin:0 3% 0 0; 
	float:left;
	width:31%;
	list-style:none;
	} 

h2.ads,
.aq-block-aq_ads_block h2{
	margin:8px !important;
	border:none !important;
	font-size:9px !important;
	padding:0 0 0 0 !important;
	opacity:.5;
	font-family:'Arial' !important;
	font-weight:normal;
	background:none !important;
	text-transform:uppercase;
	text-align:center;
}


.ad300{
	margin:0 0 40px 0;
	overflow:hidden;
	background-image:url(images/transparent.png);
}

.aq-block-aq_ads_block{margin:0 0 40px 0 !important;  padding:25px 0 !important;background-image:url(images/transparent.png);}

.ad300 img,
.ad300 ins,
.aq-block-aq_ads_block img,
.aq-block-aq_ads_block ins{
	margin:0 auto 0 auto;
	float:none !important;
	display:block !important;
}

ul.ad125{ overflow:hidden; margin:-5px 0 10px 2.5%; width:95%;}

ul.ad125 li{
	float:left; width:50%; margin:0; padding:0; overflow:hidden; background:none !important; border-bottom:none; list-style:none;
}

ul.ad125 li img{
	float:none !important; display:block; margin:5px auto; padding:0; overflow:hidden; max-width:100%;
}


img.adFree{
	padding:0; margin:0 0 20px 0;
}

.ad125_fix {
	clear: both;
	margin: 0;
	height: 12px;
	overflow: hidden;
	float: left;
}
 
/* flickr */
h2 span.flickr{color:#006ADD !important;}
 
h2 span.flickr span {color:#FF1981 !important;}
 
.flickwrap {
	position: relative;
	padding:0 0;
	overflow: hidden;
	width: 104%;
	margin:0 0 30px 0;
}
 
 .flickwrap img {
	float: left;
	margin:0;
	padding: 0 ;
	width:75px
}
 
 .flickr_badge_image{
	float: left;
	margin: 0 1px 1px 0;
	padding: 0 ;
}
 
.flickwrap a:hover img {
	background:#ccc;
}

#footer .flickwrap{
	margin:-15px 0 25px 0; border-bottom:none; width:110%; padding:0 0 0 0;
}

#footer .flickwrap img{
	width:70px;
}

#footer .flickr_badge_image{
	margin: 18px 18px 0px 0!important;
}

/* comments widget */
.com_post{
	overflow:hidden;
	padding:15px 0 !important;
	border-top:1px solid #eee;
	margin:0 !important;
	list-style:none !important;
}

.com_post:first-child{
	border-top:none;
}

#footer .com_post:first-child{
	padding:0 0 15px 0 !important;
}

.com_post img{
	float:left; margin:3px 15px 5px 0;
	padding:4px;
	background:url(images/transparent.png);
}

.com_post span{
	float:left; margin-right:4px; font-weight:bold; text-transform:uppercase;
}

.com_post p{
	padding:0 0 0 70px !important;
	margin:0 !important;
}

/* Blog Author Widget */
img.avatar {
}
 
span.left {
	float: left;
	margin: 5px 20px 5px 0;
}
 
span.right {
	float: right;
	margin: 5px 0 5px 20px;
}

/* @speciable
********************************************************************************************
********************************************************************************************/

.fl{float:left; overflow:hidden;}

.fr{float:right; overflow:hidden;}

.upper #main-nav > li > a,
.upper h2.widget { text-transform: uppercase !important; letter-spacing:-0.015em;}

img { max-width:100%}

.aq-block-aq_2_3_column_block>.aq-block{ margin:0 0 20px 0;}