/*  

We do not recommend edit main style.css file.

All your custom style settings and tweaks can be placed here.

Backup this file before theme update - so after update can be restored!
 
*/

/* 
#topnav h1{margin: 24px 10px 21px 100px;} #topnav ul.social-menu {margin: 22px 95px 0 0;} 
*/

#topnav_holder{ margin-top:40px;height:72px;}

img#logo{max-width:230px;}

#topnav.fixmenu img#logo{}

.entry>p a{ border-bottom:2px solid #ddd;}

ul.social-menu li a{ color:#fff !important;}

.fblock:hover .imgwrap img,
.journal_big:hover .imgwrap img,
.journal_small:hover .imgwrap img{ opacity:.2;}

.slides li:hover .imgwrap img{ opacity:.2;}