<table border="1">
<!-- 
<tr>
	<td>
	</td>
	<td>
	</td>
</tr>
-->
<tr>
	<th colspan="2">Atelier matelotage 12 sept. 2015
	</th>
</tr>
<tr>
	<td>JMinet
	</td>
	<td>NON
	</td>
</tr>
<tr>
	<td>Yantho
	</td>
	<td>?
	</td>
</tr>
<tr>
	<td>PtitLu (x2)
	</td>
	<td>?
	</td>
</tr>
<tr>
	<td>Bil56
	</td>
	<td>NON
	</td>
</tr>
<tr>
	<td>Chafogo
	</td>
	<td>NON
	</td>
</tr>
<tr>
	<td>Fifi
	</td>
	<td>?
	</td>
</tr>
<tr>
	<td>Lenotys
	</td>
	<td>NON
	</td>
</tr>
<tr>
	<td>Yann
	</td>
	<td>?
	</td>
</tr>
<tr>
	<td>CapitaineJV
	</td>
	<td>?
	</td>
</tr>
<tr>
	<td>Nacouda
	</td>
	<td>NON
	</td>
</tr>
<tr>
	<td>Papat
	</td>
	<td>?
	</td>
</tr>
<tr>
	<td>Boatallo
	</td>
	<td>NON
	</td>
</tr>
<tr>
	<td>Magalio
	</td>
	<td>?
	</td>
</tr>
<tr>
	<td>Yann
	</td>
	<td>NON
	</td>
</tr>
<tr>
	<td>A_Guy
	</td>
	<td>NON
	</td>
</tr>

</table>