<javascript:;>
En poursuivant votre navigation sur ce site, vous acceptez l’utilisation
de cookies qui permettent de réaliser des statistiques de visites.
En savoir plus et paramétrer les cookies. </accueil/gestion-cookies>

  * Menu <#a_nav-2>
  * Contenu <#a_content>
  * Plan du site <#>

Météo-France

Agrandir la taille des caractères Réduire la taille des caractères
Autres sites <#>

  *

    Vigilance météorologique <http://vigilance.meteofrance.com>

  *

    Éducation <http://education.meteofrance.fr/>

    Des contenus pédagogiques validés et adaptés aux programmes
    d'enseignement destinés aux enseignants et scolaires.

  *

    Sites internet en Outre-mer

    Choisir un site outre-mer
    Sélectionner un site

  *

    Aviation <https://aviation.meteo.fr/login.php>

  *

    Centre de recherches de Météo-France <http://www.cnrm.meteo.fr/>

  *

    Ecole nationale de la météorologie <http://www.enm.meteo.fr/>

  *

    DRIAS les futurs du climat <http://www.drias-climat.fr/>

  *

    Pluies extrêmes <http://pluiesextremes.meteo.fr/>

  *

    HAL-Météo-France <http://hal-meteofrance.archives-ouvertes.fr/>

  *

    Centre de météorologie spatiale
    <http://www.meteo-spatiale.fr/src/accueil.php>

  *

    Veilleurs du temps <http://www.veilleurs-du-temps.fr/pages/accueil.php>

  *

    Marchés publics
    <https://meteofrance.achatpublic.com/sdm/ent/gen/index.do>

  *

    Portail documentaire <http://bibliotheque.meteo.fr/>

Fermer <#>

  * Prévisions <http://www.meteofrance.com/>
  * Météo-France
    et vous <http://www.meteofrance.fr/>
  *  
  * Données
    publiques <https://donneespubliques.meteofrance.fr/>
  * Professionnels
    et collectivités <https://professionnel.meteofrance.com/>
  * Boutique
    particuliers <https://particulier.meteofrance.com/>

Météo-France et vous

Carte de vigilance	<http://vigilance.meteofrance.com>	
Vigilance Météo	

Phénomènes dangereux

<<< Consultez la carte <http://vigilance.meteofrance.com>	
Vigicrues <http://www.vigicrues.gouv.fr/>	Bison futé
<http://www.bison-fute.equipement.gouv.fr/diri/Accueil.do>	
Type de recherche
Nous connaître
Rechercher

  * Accueil <http://www.meteofrance.fr/accueil>
  * Actualités <http://www.meteofrance.fr/actualites>
  * Prévoir
    le temps <http://www.meteofrance.fr/prevoir-le-temps>
  * Climat
    passé et futur <http://www.meteofrance.fr/climat-passe-et-futur>
  * Activités
    de recherche <http://www.meteofrance.fr/activites-recherche>
  * Galeries
    photos <http://www.meteofrance.fr/galeries-photos>
  * Vidéos <http://www.meteofrance.fr/videos>
  * Publications <http://www.meteofrance.fr/publications>
  * Nous connaître <http://www.meteofrance.fr/nous-connaitre>
  * Espace presse <http://www.meteofrance.fr/espace-presse>

  * Accueil </accueil>
  * > Nous connaître </nous-connaitre>
  * > Recrutement et formation
    </nous-connaitre/recrutement-et-formation/rejoindre-meteo-france>
  * > Formation à la météorologie
    </nous-connaitre/recrutement-et-formation/formation-a-la-meteorologie>
  * > Formations courtes à la météorologie marine

Retour
</nous-connaitre/recrutement-et-formation/formation-a-la-meteorologie>

Formation à la météorologie

      o Formations courtes à la météorologie marine
      o L'Ecole nationale de la Météorologie (ENM)
        </nous-connaitre/recrutement-et-formation/formation-a-la-meteorologie/l-ecole-nationale-de-la-meteorologie-enm->
      o Formation initiale
        </nous-connaitre/recrutement-et-formation/formation-a-la-meteorologie/formation-initiale>
      o La formation permanente et professionnelle
        </nous-connaitre/recrutement-et-formation/formation-a-la-meteorologie/la-formation-permanente-et-professionnelle>

Agrandir la taille des caractères Réduire la taille des caractères
Imprimer <javascript:_56_INSTANCE_wLGyQKctuvfI_printPage();> Partager
cet article par courriel <javascript:mailTo('Formations courtes à la
météorologie marine 2015')>
Partager<#partage>
Partager cet article sur Facebook <#> Partager cet article sur Twitter
<#> Partager cet article sur Google+ <#>

Formation à la météorologie


  Formations courtes à la météorologie marine 2015

Météo-France propose un ensemble de *stages de météo marine *destinés
aux plaisanciers, du débutant souhaitant se familiariser à la météo au
marin confirmé qui désire approfondir ses connaissances.

Ces formations courtes et pratiques (1 journée) permettent de se
sensibiliser à la météo marine pour naviguer en toute sécurité (notions
de base, analyse de documents, observations, comment accéder à
l'information météo). Elles peuvent entrer dans le cadre des DIF (Droit
Individuel à la Formation).

_Tarif :_ 194,40 euros TTC
 

 *Stages* 	 Lieux 	 *Dates* 	 *Informations *
Initiation 	Cherbourg 	Vendredi 16 octobre 2015 	Contact
courriel : cherbourg@meteo.fr 
tel: 02.33.10.16.10
Golfe de Gascogne et Manche 	Cherbourg 	Samedi 14 novembre 2015 	Contact
courriel : cherbourg@meteo.fr 
tel: 02.33.10.16.10

 

*Stage « initiation » : *

- Anticyclones et dépressions.
- Vent : définition, mesure et représentation.
- Etat de la mer.
- Analyse et préisos.
- Nuages : comment et pourquoi les reconnaître ?
- Fronts et perturbations.
- Introduction à la prévision numérique.
- Comment accéder à l'information météo à terre et en mer ? 	*Stages **«
Golfe de Gascogne et Manche **»
et **« Méditerranée **» :

*- Caractéristiques moyennes par saison.
- Situations météorologiques typiques et leurs conséquences suivant la
saison.
- Effets locaux (brises thermiques, vent près d'un relief...).
- Propagation des vagues et de la houle.
- Notion de prévision numérique.
**


/Les stages ont lieu sous réserve d'un nombre minimum de participants.
Le nombre de places est limité à 12 personnes. Des séances
complémentaires pourront être envisagées sous réserve d'un nombre
suffisant de participants./

*Stages Météo-France/ENVSN*

Plusieurs fois par an, Météo-France et l'École nationale de voile et des
sports nautiques animent des stages météo ("météo croisière" et "météo
régate") pour les professionnels et les pratiquants de la mer, en loisir
ou en compétition.

*Objectif* : acquérir les fondamentaux en météo marine pour sécuriser et
optimiser ses navigations.

*Contenus* : fiabilité des bulletins météo, vent synoptique, instabilité
du vent, orages, brise thermique, perturbations, nuages et brouillards,
mer du vent.


*En savoir plus : calendrier des stages et tarifs
<http://www.envsn.sports.gouv.fr/formations-stage-meteo>*


 

Autres dossiers

  * L'Ecole nationale de la Météorologie (ENM)
    </nous-connaitre/recrutement-et-formation/formation-a-la-meteorologie/l-ecole-nationale-de-la-meteorologie-enm->
  * Formation initiale
    </nous-connaitre/recrutement-et-formation/formation-a-la-meteorologie/formation-initiale>
  * Formation permanente et professionnelle
    </nous-connaitre/recrutement-et-formation/formation-a-la-meteorologie/la-formation-permanente-et-professionnelle>

  * Accueil </accueil>
  * > Nous connaître </nous-connaitre>
  * > Recrutement et formation
    </nous-connaitre/recrutement-et-formation/rejoindre-meteo-france>
  * > Formation à la météorologie
    </nous-connaitre/recrutement-et-formation/formation-a-la-meteorologie>
  * > Formations courtes à la météorologie marine

Prévoir le temps

  * Phénomènes météo </prevoir-le-temps/phenomenes-meteo>
  * Météo et Santé </prevoir-le-temps/meteo-et-sante>
  * Observer le temps </prevoir-le-temps/observer-le-temps>
  * La prévision du temps </prevoir-le-temps/la-prevision-du-temps>

Climat passé et futur

  * Climat de la France </climat-passe-et-futur/climat-en-france>
  * Bilans climatiques </climat-passe-et-futur/bilans-climatiques>
  * Changement climatique </climat-passe-et-futur/changement-climatique>
  * Changement climatique </climat-passe-et-futur/changement-climatique>
  * Projections climatiques
    </climat-passe-et-futur/changement-climatique/projections-climatiques>
  * Météo et Grande Guerre </la-meteo-au-temps-de-la-grande-guerre>

Activités de recherche

  * La recherche à Météo-France
    </activites-recherche/en-direct-des-labos/la-recherche-a-meteo-france>
  * Améliorer les prévisions météorologiques
    </activites-recherche/ameliorer-les-previsions-meteorologiques>
  * Améliorer la prévision du risque d'avalanche
    </activites-recherche/ameliorer-la-prevision-du-risque-d-avalanche>
  * Décrypter le climat de nos villes
    </activites-recherche/decrypter-le-climat-de-nos-villes>
  * Faire progresser la prévision saisonnière
    </activites-recherche/faire-progresser-la-prevision-saisonniere>
  * Modéliser le climat d'hier et d'aujourd'hui
    </activites/modeliser-le-climat-d-hier-et-d-aujourd-hui>

Galeries photos

  * Phénomènes </galeries-photos/phenomenes>
  * Nuages </galeries-photos/nuages>
  * Images satellites </galeries-photos/images-satellites>

Vidéos

  * Risques météo </videos/risques-meteo>
  * Climat </videos/climat>
  * Métiers </videos/metiers>

Publications

  * Notre bibliothèque </publications/bibliotheque>
  * Librairie </publications/librairie>
  * Guides pratiques </publications/nos-collections/guides-pratiques>
  * Météorologie pour tous
    </publications/nos-collections/meteorologie-pour-tous>
  * Rapports annuels
    </publications/nos-documents-institutionnels/rapports-annuels>
  * Rapports climat
    </publications/nos-documents-institutionnels/rapports-climat>

Nous connaître

  * Météo-France en bref </nous-connaitre/meteofrance-en-bref>
  * Stratégie et gouvernance </nous-connaitre/strategie-et-gouvernance>
  * Sécurité des personnes et des biens
    </nous-connaitre/missions-institutionnelles/securite-des-personnes-et-des-biens>
  * Activités et métiers </nous-connaitre/activites-et-metiers>
  * Activités commerciales et filiales
    </nous-connaitre/activites-commerciales-et-filiales>
  * Rejoindre Météo-France
    </nous-connaitre/recrutement-et-formation/rejoindre-meteo-france>
  * Formation à la météorologie
    </nous-connaitre/recrutement-et-formation/formation-a-la-meteorologie>
  * Découvrir la météorologie </nous-connaitre/decouvrir-la-meteorologie>
  * Conseil Supérieur de la Météorologie
    </nous-connaitre/conseil-superieur-de-la-meteorologie>

Nos autres sites

Éducation <http://education.meteofrance.fr>

Ressources et outils sur les sciences du climat conçus pour l'enseignement

Données publiques <http://donneespubliques.meteofrance.fr>

La plate-forme de mise à disposition des données publiques

Rejoignez-nous

<https://plus.google.com/+Meteofrance0/posts >
<https://www.youtube.com/channel/UCnBToLuuyq7Qn5j7e5BRhaw>
<http://fr.pinterest.com/meteofrance>

  * [S'abonner au compte officiel de Météo-France] Le compte officiel de
    Météo-France <javascript:;>
  * [S'abonner au compte Vigilance Météo] Les vigilances orange
    ou rouge en cours <javascript:;>

Météo France, toujours un temps d'avance

  * Mentions légales </accueil/mentions-legales>|
  * Foire aux questions </accueil/foire-aux-questions>|
  * Accessibilité </accueil/accessibilite>|
  * Rejoindre Météo-France
    </nous-connaitre/recrutement-et-formation/rejoindre-meteo-france>|
  * Espace presse </espace-presse>|
  * Contact </accueil/contact>|
  * Marchés publics
    <https://meteofrance.achatpublic.com/sdm/ent/gen/index.jsp>|
  * Météo-France sur Twitter </accueil/meteo-france-sur-twitter>|
  * Plan du site </accueil/plan-du-site>|
  * Centres de Météo-France </accueil/centres-de-meteo-france>|
  * Informations environnementales
    </accueil/informations-environnementales>|
  * Gestion des cookies </accueil/gestion-cookies>

Ministère de l'Écologie, du Développement durable, des transports et du
logement <#>

